In [ ]:
1. 10살 단위로 인구 정리한다.(인구를 0-10, 11-20,.. 70이상)
2. 70대 이상은 하나로 합친다.
3. 3개의 기간동안 인구가 증가하는 곳을 찾는다.
4. 남성이 여성보다 많이 거주하는 곳 가운데 인구가 3만 이상인 곳을 찾는다. (없으면 없다고...)

In [28]:
import pandas as pd
import numpy as np

In [52]:
df1806 = pd.read_csv('data/2018.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv' ,encoding='utf-8')
df1812 = pd.read_csv('data/2018.12.31.기준 대구광역시 주민등록인구 현황_UTF8.csv' ,encoding='utf-8')
df1906 = pd.read_csv('data/2019.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv' ,encoding='utf-8')

df1806
df1812

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0세,13993,7075,6918,521,272,249,2173,1100,1073,...,1318,1685,874,811,2954,1483,1471,2735,1362,1373
1,1세,16306,8442,7864,548,278,270,2569,1365,1204,...,1550,2097,1060,1037,3627,1959,1668,2968,1521,1447
2,2세,18774,9576,9198,656,325,331,2875,1433,1442,...,1791,2484,1313,1171,4160,2185,1975,3282,1624,1658
3,3세,20010,10252,9758,639,324,315,3055,1592,1463,...,1863,2858,1477,1381,4623,2363,2260,3264,1629,1635
4,4세,20020,10219,9801,594,310,284,3055,1541,1514,...,1838,3106,1592,1514,4571,2334,2237,3208,1622,1586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96세,369,74,295,21,1,20,62,10,52,...,51,64,18,46,64,11,53,31,10,21
97,97세,273,46,227,17,3,14,45,10,35,...,29,54,6,48,52,7,45,20,5,15
98,98세,178,37,141,18,6,12,31,9,22,...,33,25,2,23,17,6,11,8,1,7
99,99세,130,25,105,8,3,5,27,7,20,...,17,24,7,17,19,3,16,12,1,11
100,100세 이상,628,145,483,85,15,70,110,25,85,...,53,90,24,66,76,14,62,25,7,18

In [53]:
import re
row=0
for i in df1806['구분']:
    df1806['구분'][row] = re.sub('[^0-9]',repl='',string=i)
    row +=1
df1806

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,365,75,290,23,3,20,66,10,56,...,37,73,15,58,64,12,52,31,9,22
97,97,235,45,190,18,3,15,35,13,22,...,36,43,7,36,39,6,33,16,3,13
98,98,190,32,158,16,7,9,33,6,27,...,30,29,4,25,25,6,19,15,0,15
99,99,112,26,86,6,1,5,25,7,18,...,13,17,4,13,19,2,17,8,2,6
100,100,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

In [54]:
row=0
for i in df1806['구분']:
    df1806['구분'][row] = int(df1806['구분'][row])
    row += 1
df1806

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,365,75,290,23,3,20,66,10,56,...,37,73,15,58,64,12,52,31,9,22
97,97,235,45,190,18,3,15,35,13,22,...,36,43,7,36,39,6,33,16,3,13
98,98,190,32,158,16,7,9,33,6,27,...,30,29,4,25,25,6,19,15,0,15
99,99,112,26,86,6,1,5,25,7,18,...,13,17,4,13,19,2,17,8,2,6
100,100,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

In [56]:
구분 = pd.cut(df1806['구분'],[0,10,20,30,40,50,60,70])
df1806['구분']

0        0
1        1
2        2
3        3
4        4
      ...
96      96
97      97
98      98
99      99
100    100
Name: 구분, Length: 101, dtype: object

In [33]:
#df1806.groupby(df1806['구분']).sum()

,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,서구 계,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
구분,,,,,,,,,,,,,,,,,,,,,
0세,14568,7488,7080,511,275,236,2263,1161,1102,719,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
100세 이상,614,136,478,88,15,73,106,23,83,89,...,52,97,24,73,68,13,55,26,8,18
10세,22770,11717,11053,505,256,249,2958,1487,1471,1066,...,2062,4941,2546,2395,5530,2870,2660,2549,1309,1240
11세,21602,11124,10478,446,245,201,2695,1407,1288,1045,...,2016,4837,2502,2335,5196,2661,2535,2319,1183,1136
12세,21015,11007,10008,457,241,216,2447,1295,1152,1045,...,1953,4889,2592,2297,5180,2667,2513,2126,1122,1004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96세,365,75,290,23,3,20,66,10,56,30,...,37,73,15,58,64,12,52,31,9,22
97세,235,45,190,18,3,15,35,13,22,18,...,36,43,7,36,39,6,33,16,3,13
98세,190,32,158,16,7,9,33,6,27,15,...,30,29,4,25,25,6,19,15,0,15
99세,112,26,86,6,1,5,25,7,18,10,...,13,17,4,13,19,2,17,8,2,6
9세,20899,10834,10065,486,260,226,2773,1443,1330,1002,...,1923,4265,2232,2033,5077,2668,2409,2512,1280,1232

In [20]:
df.head()

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      101 non-null    object
 1   총계      101 non-null    int64
 2   총계 남    101 non-null    int64
 3   총계 여    101 non-null    int64
 4   중구 계    101 non-null    int64
 5   중구 남    101 non-null    int64
 6   중구 여    101 non-null    int64
 7   동구 계    101 non-null    int64
 8   동구 남    101 non-null    int64
 9   동구 여    101 non-null    int64
 10  서구 계    101 non-null    int64
 11  서구 남    101 non-null    int64
 12  서구 여    101 non-null    int64
 13  남구 계    101 non-null    int64
 14  남구 남    101 non-null    int64
 15  남구 여    101 non-null    int64
 16  북구 계    101 non-null    int64
 17  북구 남    101 non-null    int64
 18  북구 여    101 non-null    int64
 19  수성구 계   101 non-null    int64
 20  수성구 남   101 non-null    int64
 21  수성구 여   101 non-null    int64
 22  달서구 계   101 non-null    int64
 23  달서구 남   101 non-null    int64
 24  달서구 여   101 non-null    int64
 25  달성군 계   101 non-null    int64
 26  달성군 남   101 non-null    int64
 27  달성군 여   101 non-null    int64
dtypes: int64(27), object(1)
memory usage: 22.2+ KB

In [5]:
df.describe()

,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,서구 계,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,...,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,24451.653465,12120.059406,12331.594059,777.524752,377.168317,400.356436,3484.079208,1726.158416,1757.920792,1868.366337,...,2182.247525,4311.564356,2098.504950,2213.059406,5694.257426,2824.188119,2870.069307,2454.158416,1248.930693,1205.227723
std,13881.135558,7210.290994,6753.665704,407.407869,211.933295,199.657185,1879.798344,976.818588,921.110793,1168.004278,...,1235.715472,2568.742585,1297.241478,1296.632337,3467.869578,1777.707590,1710.422043,1462.357321,783.698606,684.484154
min,112.000000,26.000000,86.000000,6.000000,1.000000,5.000000,25.000000,6.000000,18.000000,10.000000,...,13.000000,17.000000,4.000000,13.000000,19.000000,2.000000,17.000000,8.000000,0.000000,6.000000
25%,14568.000000,6660.000000,8528.000000,504.000000,241.000000,245.000000,2447.000000,1159.000000,1243.000000,1010.000000,...,1365.000000,2268.000000,994.000000,1274.000000,2885.000000,1234.000000,1596.000000,1147.000000,484.000000,690.000000
50%,25939.000000,12788.000000,12361.000000,853.000000,376.000000,462.000000,3655.000000,1846.000000,1819.000000,1948.000000,...,2192.000000,4285.000000,2174.000000,2204.000000,5897.000000,2870.000000,2873.000000,2734.000000,1387.000000,1240.000000
75%,35348.000000,18378.000000,17298.000000,1153.000000,566.000000,574.000000,5135.000000,2599.000000,2497.000000,2730.000000,...,3120.000000,6263.000000,3166.000000,3099.000000,8504.000000,4308.000000,4108.000000,3771.000000,1890.000000,1805.000000
max,47485.000000,23154.000000,24384.000000,1388.000000,683.000000,718.000000,6880.000000,3291.000000,3589.000000,4450.000000,...,4429.000000,9249.000000,4425.000000,4956.000000,11637.000000,5617.000000,6057.000000,5183.000000,2726.000000,2496.000000

In [6]:
df.columns

Index(['구분', '총계', '총계 남', '총계 여', '중구 계', '중구 남', '중구 여', '동구 계', '동구 남',
       '동구 여', '서구 계', '서구 남', '서구 여', '남구 계', '남구 남', '남구 여', '북구 계', '북구 남',
       '북구 여', '수성구 계', '수성구 남', '수성구 여', '달서구 계', '달서구 남', '달서구 여', '달성군 계',
       '달성군 남', '달성군 여'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=101, step=1)

In [45]:
df.duplicated().value_counts()

False    101
dtype: int64

In [18]:
import re
row=0
for i in df['구분']:
    df['구분'][row] = re.sub('[^0-9]',repl='',string=i)
    row +=1
df

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,365,75,290,23,3,20,66,10,56,...,37,73,15,58,64,12,52,31,9,22
97,97,235,45,190,18,3,15,35,13,22,...,36,43,7,36,39,6,33,16,3,13
98,98,190,32,158,16,7,9,33,6,27,...,30,29,4,25,25,6,19,15,0,15
99,99,112,26,86,6,1,5,25,7,18,...,13,17,4,13,19,2,17,8,2,6
100,100,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

In [19]:
df['구분'][12]

'12'

In [21]:
df[0][0:9]

KeyError: 0

In [67]:
df['구분'] = map(int,df['구분'])

In [63]:
bins = [0,10,20,30,40,50,60,101]
age = df['구분']
pd.cut(age,bins, right=False)

TypeError: '<' not supported between instances of 'map' and 'map'